div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 2vh;

    h1 {
        align-self: center;
    }

    button {
        width: 20vh;
        align-self: center;
        padding: 1vh;
        border-radius: 2vh;
        background-color: darkseagreen;
    }

    textarea {
        background-color: aliceblue;
        width: 40vh;
    }
}